/* body is formatted as follows  */

body {
  background-color: lightblue;
}

/* h1, h2 are formatter as follows */
h1, h2 {
  color: blue;
  text-align: center;
}

h1
{
	text-align:center;
}

/* paragraph is formmated as follows.*/
p {
  font-family: verdana;
  font-size: 20px;
}



